body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

nav,
footer {
  text-align: center;
  background-color: #111;
  color: #eee;
  min-height: 30px;
}

footer {
  margin-top: auto;
}

nav a {
  text-decoration: none;
  color: #eee;
  display: block;
}

nav a:hover {
  color: #111;
  background-color: #eee;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

main .flex {
  background-color: #aaa;
}